@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблокировано";
}

<hgroup>
    <h1 class="text-danger">Заблокировано.</h1>
    <h2 class="text-danger">Неведомая ошибка. Вы точно ввели всё правильно?</h2>
</hgroup>
