@{
    ViewBag.Title = "О нас и наших целях";
}
<h2>@ViewBag.Title.</h2>


<div class="well" align="center">
    <h2>Политика сайта основана на принципе "Безопасной сделки".
        <br />Т.е. решатель-фрилансер не получит оплату до тех пор, пока не загрузит решение для скачивания и его не примет автор задачи.
        <br /> Но и автор задачи не сможет скачать решение, пока на его счету не окажется сумма, достаточнаяд для оплаты задачи.
        <br/>Честность обеих сторон контролируется автоматически самой системой и непосредственно администрацией сайта</h2>
</div>

<div align ="center">
    <p>
        <h3>
            Мы - маленькая команда разработчиков. Ещё в университете мы решали различного рода задачи студентам. И тут решили - а почему бы не расшириться и не помочь большему количеству людей? Да ещё - убрать прослойку посредников и связать заказчиков напрямую с исполнителями?
            <br />
            Так и была придумана система удаленного решения задач, которую мы сейчас медленно и верно реализуем!
        </h3>
    </p>
</div>

<div class="well well-large" align="center">
    <h2>Связаться:</h2>

    <img class="img-polaroid" width="50" height="50" src="~/Content/pictures/vk_admin.png" alt="" />
    <br />
    Создатель сайта
    <a href="https://vk.com/rrrinat" target="_blank">
         Ринат Фихтенгольц
    </a>
    
</div>
        