@{
    ViewBag.Title = "Как оплатить?";
}

<div>
    <h4 align="center">
        <span class="label label-info">
            Осторожно! Большой и скучный текст, но его нужно прочитать!
        </span>
    </h4>
    <h4 align="center">
        <text class="label label-inverse">
            <a>
                В чем наши преимущества?
                <br />
                Мы предоставляем возможность безопасного заказа задачи:
                <br />
                решатель - специалист не получит оплату до тех пор, пока не выполнит Ваше задание.
            </a>
        </text>
    </h4>

    <hr />
    <h2>Как же внести оплату и пополнить свой счёт?</h2>

    <h4>Шаг первый</h4>
    <h5>Вы ищите банкомат либо используете какой-нибудь онлайн сервис(QIWI, Webmoney и т.п.), чтобы произвести перевод на одну из карт системы. В данный момент основная карта, по которой контролируются все операции:</h5>
    <div align="center">
        <b>
            <h4> 1234 1234 1234 1244 (Сбербанк)</h4>
        </b>
    </div>
    <div align="center">
        <img src="../../Content/pictures/bankomat.jpg" width="640"/>

        <img src="../../Content/pictures/sberbank_online.png" width="640" />
    </div>

    <hr />
    <h4>Шаг второй</h4>
    <h5>Вы переходите на вкладку "Загрузить оплату за заявку", прикладываете для порядка скан чека - и профит! В течение 24 часов оплата за задачу будет принята оператором и Вы увидите, что Ваш баланс изменился!</h5>
    <div align="center">
        <img src="../../Content/pictures/how_to_pay.png" width="640" />
    </div>
</div>