@{
    ViewBag.Title = "Garage Inc";
}

@*<ul class="nav nav-list">
    <li class="active"><a href="#"><i class="icon-home"></i> На главную</a></li>
    <li><a href="#"><i class="icon-book"></i> Библиотека</a></li>
    <li><a href="#"><i class="icon-pencil"></i> Приложения</a></li>
    <li><a href="#"><i class="icon-cogs"></i> Настройки</a></li>
</ul>*@

<div id="myCarousel" class="carousel slide" align="center">
    <div class="carousel-inner">
        <div class="item active">
            <img src="../../Content/pictures/Carousel/bootstrap-mdo-sfmoma-01.jpg" />
            <div class="carousel-caption">
                <h4>Первый слайд</h4>
                <p>Принимаясь за дело, соберись с духом.</p>
            </div>
        </div>
        <div class="item">
            <img src="../../Content/pictures/Carousel/bootstrap-mdo-sfmoma-01.jpg" />
            <div class="carousel-caption">
                <h4>Второй слайд</h4>
                <p>Часами измеряется время, а временем жизнь человеческая; но чем, скажи, измеришь ты глубину Восточного океана?</p>
            </div>
        </div>
        <div class="item">
            <img src="../../Content/pictures/Carousel/bootstrap-mdo-sfmoma-01.jpg" />
            <div class="carousel-caption">
                <h4>Третий слайд</h4>
                <p>Многие вещи нам непонятны не потому, что наши понятия слабы; но потому, что сии вещи не входят в круг наших понятий.</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="jumbotron">
    <h3>Интернет-сервис помощи студентам. Работайте в удобной и дружелюбной системе</h3>
    <p class="lead">
        Помощь тем, кто ничего не знает и тем, кто знает очень много по своему предмету.
        <br/>
        Онлайн и оффлайн помощь по решению задач
    </p>
    @if (User.Identity.IsAuthenticated)
    {
    <p>@Html.ActionLink("Оставить заявку на задачу", "Create", "Request", new { area = "" }, new { @class = "buttonS" })</p>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Цены</h2>
        <p>
            Хотитет узнать, как формируется цена за задачу? Тогда - Вам сюда!
        </p>            
        <p>@Html.ActionLink("Перейти->", "Price", "Home", new { area = "" }, new { @class = "buttonB" })</p>
    </div>
    <div class="col-md-4">
        <h2>Как оплатить/Правила</h2>
        <p>Общие правила для всех: заказчиков и исполнителей</p>
        <p>@Html.ActionLink("Перейти->", "RulesAndPayment", "Home", new { area = "" }, new { @class = "buttonS" })</p>
    </div>
    <div class="col-md-4">
        <h2>О нас</h2>
        <p>Контакты и способы связи с администрацией</p>
        <p>@Html.ActionLink("Перейти->", "Contact", "Home", new { area = "" }, new { @class = "buttonB" })</p>
    </div>
</div>