
@{
    ViewBag.Title = "Цены";
}
<div class="alert-danger">
    Помните, что решатель не получит оплату, пока Вы не получите решение. Но и к решению он не приступит, пока - не получит подтверждения от администрации о переводе средств.
    Это нашей основное правило "Третьей стороны" и честность обеих сторон гарантируется и проверяется индивидуально администрацией.
</div>
<br/>


<div class="alert alert-info">
    Во время оформления заказа, вы указываете его примерную стоимость (Если в заказе несколько задач, то при расчете стоимости это необходимо учитывать).
    <br />
    Однако конечная стоимость заказа устанавливается по соглашению решающего и заказчика в рамках ценовой политики, установленной администрацией.
    <br />
    Хотите узнать точную стоимость вашей работы? Просто оформите заказ прямо сейчас! Оценка стоимости БЕСПЛАТНА! И ни к чему Вас не обязывает!
    <br/>
    Минимальные* стоимости задач:
    <br/>
    ✔ Решение задач по математике - от 80 рублей**, школьные задачи - от 30 рублей, тестовые - от 30 рублей / задание
    <br/>
    ✔ Решение задач по математической статистике - от 100 рублей
    <br/>
    ✔ Решение задач по экономике - от 80 рублей, тестовые - от 30 рублей / задание
    <br/>
    ✔ Решение задач по физике - от 80 рублей, школьные задачи - от 50 рублей, тестовые - от 30 рублей / задание
    <br/>
    ✔ Решение задач по химии - от 80 рублей, тестовые - от 30 рублей / задание
    <br/>
    ✔ Решение задач по ТОЭ - от 150 рублей
    <br/>
    ✔ Решение задач по ПРОГРАММИРОВАНИЮ - от 150 рублей
    <br/>
    ✔ Инженерная графика, выполнение чертежей - от 150 рублей
    <br/>
    ✔ Решение задач по теоретической механике - от 150 рублей
    <br/>
    ✔ Решение задач по сопротивлению материалов - от 150 рублей
    <br/>
    ✔ Переводы с английского языка на русский - от 200 рублей за 1 страницу текста. Минимальная стоимость заказа от 50 рублей.
    <br/>
    ✔ Остальные предметы - по договоренности, цена зависит от объема работы и срочности
    <br/>
    ✔ Решение контрольных работ - цена зависит от количества задач в контрольной работе и дисциплины
</div>

<div class="alert alert-success">
    ✔ Выполнение КУРСОВЫХ работ на заказ - от 1000 рублей, цена зависит от объема работы, а для для гуманитарных предметов также от требуемого уровня уникальности (антиплагиата)<br/>
    ✔ Выполнение ДИПЛОМНЫХ работ на заказ - от 1000 рублей, цена зависит от объема работы, а для для гуманитарных предметов также от требуемого уровня уникальности (антиплагиата)<br/>
    ✔ Написание рефератов на заказ - от 400 рублей, цена зависит от объема работы, а также от требуемого уровня уникальности (антиплагиата)
</div>

<div class="alert alert-dismissible">
    Однако, бывают случаи, когда цена на задачу может быть ниже**, чем приведенные выше. В период экзаменационных сессий и зачетных недель цены, наоборот, увеличиваются из-за высокой загруженности! Заказывайте работы заранее! Это позволит сэкономить ваши деньги!
</div>

<hr/>
<code>
    * Обратите внимание, что указаны минимальные стоимости, и это не значит, что, например, все задания по математике для студентов стоят 50 рублей. Они стоят ОТ 50 рублей, а точную стоимость работы можно узнать только после оформления заказа. Также обратите внимание, что данные расценки не относятся к услуге онлайн-помощь на экзамене, которая в виду ограниченного времени на решение оценивается дороже.
    <br />
    ** Цена, приведенная в прайсе, указана для заданий средней сложности. Если задание простое и его решение занимает 1-2 строки, в этом случае цена на решение может быть снижена. Для математики примерами простых заданий могут выступать - нахождение простых пределов, простых производных первого порядка, выполнение подпунктов (когда их несколько в задаче) в заданиях по аналитической геометрии и т.п.
</code>
