@{
    ViewBag.Title = "Пользовательское соглашение";
}

<div>
<h4 align="center">
    <span class="label label-info">
            Осторожно! Большой и скучный текст, но его нужно прочитать!
        </span>
</h4>
<h4 align="center">
    <text class="label label-inverse">
        <a>
            В чем наши преимущества?
            <br/>
            Мы предоставляем возможность безопасного заказа задачи:
            <br/>
            решатель не получит оплату до тех пор, пока не выполнит все Ваши задачи.
        </a>
    </text>
</h4>

        <br />

        ✔ Решение задач по высшей математике (алгем/линал/интегралы/диффуры/теорвер и др.), физике, ПРОГРАММИРОВАНИЮ (C++/C#/Pascal/Basic/JS/PHP/Java/Fortran и др.языки) , сопромату, термеху, ТММ, гидравлике, экономике и др. предметам

        <br />

        ✔ Лабы, планы,блок-схемы, проекты, эссе, сочинения, рефераты, КУРСОВЫЕ по ЛЮБЫМ предметам!

        <br />

        ✔ ОНЛАЙН-ПОМОЩЬ на контрольных-самостоятельных-экзаменах-зачетах.

        <br />

        ИНДИВИДУАЛЬНЫЙ ПОДХОД! Абсолютно анонимно.

        <br />

        ✔ Оценка - совершенно бесплатно и ни к чему Вас не обязывает. Просто присылайте нам тех.задание, @Html.ActionLink(" со всеми условиями", "Create", "Request")

        <br />

        Лучшие преподаватели и самые умные студенты! Если ты гений - регистрируйся и становись фрилансером!

        <hr />


        <div align="center">
            <strong>
                О решении задач
            </strong>
        </div>

        <div class="info">
            <p>
                Даже те студенты, которые отлично успевают по всем предметам, не всегда могут справиться с какими-то задачами, и в этом случае стоит воспользоваться услугами профессионалов. Такой подход сэкономит ваше время и ваши силы,ведь на решение задачи может уйти очень много времени, и не факт, что в результате вы получите правильное решение.
            </p>
            <p>
                Если вы решили заказать задачи по математике, физике или по любому другому предмету, то можете быть уверены, что задания будут выполнены в необходимые сроки и полностью соответствовать всем требованиям по оформлению и способу решения задач. Вы сможете выбрать специалиста по таким математическим дисциплинам, как линейная алгебра, теория вероятности, математический анализ, а также прочим предметам, которые изучают в высших учебных заведениях.
            </p>
            <p>
                Выбирая автора на нашем проекте, вы можете быть полностью уверены в том, что вашим заданием будет заниматься настоящий профессионал. Мы строго контролируем и профессионализм наших специалистов, и качество работ, а также точное соблюдение заявленного срока выполнения заказа.
            </p>
        </div>
        <hr />

        <div>
            <h4>Пользовательское соглашение</h4>
        </div>

        <div>
            <p>
                Настоящее Пользовательское соглашение является публичной Офертой и регламентирует отношения по
                использованию данного сервиса
            </p>

            <hr />
            <h4>Термины и определения:</h4>

            <p>
                <strong>Пользователь</strong> – любое физическое, либо юридическое лицо, зарегистрированное на
                сайте и безусловно принимающее условия настоящих Правил. Для целей Правил выделяют следующие
                виды пользователей: заказчик и исполнитель.
            </p>

            <p>
                <strong>Администрация сайта (Модератор)</strong> — физическое лицо, осуществляющее поддержку и
                обновление Сайта, занимающееся решением споров между Пользователями.
            </p>

            <p>
                <strong>Счёт</strong> — виртуальный номер, закрепленный за каждым
                Пользователем проекта. Все финансовые расчеты в рамках Проекта производятся с использованием
                данных счетов.
            </p>
            <hr />

            <h4>1. Права и обязанности Пользователя</h4>

            <p>
                1.1. Пользователь не вправе обмениваться (публиковать, передавать) контактными данными с другими
                Пользователями (К контактным данным относятся номера телефонов, E-mail, ICQ, Skype и т.д., а
                также ссылки на страницы в социальных сетях, ссылки на размещенные файлы на ресурсах, подобных
                www.mail.ru, где файлы размещается от конкретного пользователя. А также любые ссылки и данные,
                содержащие личные сведения о пользователях). При передаче контактных данных с пользователя
                взыскивается штраф в размере до 500 рублей. При дальнейшей передаче данных пользователь
                блокируется.
            </p>

            <p>
                1.2. Пользователь не вправе публиковать или распространять информацию, которая содержит
                нецензурные выражения, оскорбления, направлена на пропаганду войны, терроризма, нарушает
                авторские права третьих лиц, а также иную информацию, за распространение которой предусмотрена
                уголовная или административная ответственность в соответствии с действующим законодательством
                Российской Федерации.
            </p>

            <p>
                1.3. Исполнитель обязуется выполнять все действия, оговоренные с Заказчиком в сроки, в полном
                объеме и в соответствии с заданием, сформулированным Заказчиком. Исполнитель обязуется
                призводить доработку в рамках задания, без дополнительной оплаты, в соответствии с требованиями
                Заказчика.
            </p>

            <p>
                1.4. Исполнитель имеет право на получение вознаграждения за выполнение работы, на условиях,
                оговоренных с Заказчиком в рамках заказа.
            </p>

            <p>
                1.5. Заказчик обязан выплатить вознаграждение Исполнителю за выполнение работы, на условиях,
                оговоренных с Исполнителем в рамках заказа.
            </p>

            <p>
                1.6. Заказчик вправе запросить у Исполнителя корректировку работы без дополнительной оплаты в
                рамках задания: в течение всех дней до срока сдачи работы.
            </p>

            <p>
                1.7. Пользователи вправе обратиться к Модератору для решения спорной ситуации, связанной с
                выполнением работы.
            </p>
            <hr />


            <h4>2. Права и обязанности Модератора</h4>

            <p>
                2.1. Модератор обязуется сохранять конфиденциальность контактных данных Пользователей.
            </p>

            <p>
                2.2. Модератор вправе запретить доступ к Сайту Пользователям, нарушившим положения настоящих
                Правил.
            </p>

            <p>
                2.3. Модератор вправе применять штрафные санкции при разборе каждой ситуации индивидуально.
            </p>

            <p>
                2.4. Модератор вправе изменять Правила в одностороннем порядке.
            </p>
            <hr />


            <h4>3. Ответственность сторон</h4>

            <p>
                3.1. Пользователь несет ответственность за размещаемую им информацию, за поведение на Сайте, за
                сохранность своего логина и пароля.
            </p>

            <p>
                3.2. Сайт не несет ответственность:
            </p>

            <p>
                3.2.1. За информацию, размещаемую Пользователями.
            </p>

            <p>
                3.2.2. За любые действия, совершаемые Пользователями на Сайте, в том числе за сроки и качество
                выполняемых работ, за несоблюдение авторских прав третьих лиц т.д.
            </p>

            <p>
                3.2.3. За несанкционированный доступ третьих лиц к информации, хранящейся в системе.
            </p>

            <p>
                3.3. Сайт несет ответственность перед Пользователем за сумму платежа, находящуюся на его Счету.
            </p>

            <p>
                3.4. Сайт несет ответственность за выплату пользователю вознаграждения после разблокировки
                заказчиком в течение 24 часов или позднее из-за технических причин, зависящих от третьей стороны
                (но не позднее 14 суток).
            </p>
            <hr />

            <h4>4. Правила работы</h4>

            <h4>4.1. Претензии</h4>

            <p>
                4.1.1. Решения по претензиям не обсуждаются. Все претензии - в комментариях и на форуме.
            </p>

            <p>
                4.1.2. Решение по претензии принимается в течение 5 дней. Длительность принятия решения зависит от сложности рассматриваемой претензии.
            </p>

            <p>
                4.1.3. Позиции каждого участника должны быть приведены в претензии, а не лично менеджерам сайта.
            </p>

            <h4>4.2. Возврат денег за заказ и неустойки</h4>

            <p>
                4.2.1. Возврат за работу осуществляется только после того, как Автору была предоставлена возможность доработки по конкретным замечаниям.
            </p>

            <p>
                4.2.2. Возврат за работу по замечаниям (доработку) невозможен в полном объеме. Если заказчик заказал доработку у другого Автора, то размер возврата будет равен стоимости доработки другим Автором. Эта сумма будет списана со счета Автора, который не выполнил доработку.
            </p>

            <p>
                4.2.4. При полном возврате за заказ комиссия сайта также возвращается Заказчику. Возвращение комиссии Заказчику частично или в полном объеме списывается с Автора.
            </p>

            <p>
                4.2.5. Возврат по обоюдному согласию можно осуществить без претензии. Для этого Автор должен оповестить Администрацию о данной договоренности, а Заказчик снять блокировку с заказа.
            </p>

            <p>
                4.2.6. При изменении первоначального задания, исходных данных без предупреждения Автор вправе потребовать оплатить данную доработку или отказаться от нее.
            </p>

            <p>
                4.2.7. Если Автора выбрали в течение суток после его оценки, Автор обязан принять заказ на выполнение. Автор не будет оштрафован, если он отказался подтверждать выполнение заказа по истечению 24 часов.
            </p>

            <p>
                4.2.8. Если Заказчик не указал требуемый процент оригинальности работы, Автор должен соблюдать установленный минимум, равный 35% по системе Aнтиплагиат.ру.
            </p>

            <h4>4.3. Отрицательные отзывы</h4>

            <p>
                4.3.1. Ответные отрицательные отзывы удаляются.
            </p>

            <p>
                4.3.2. Отзывы удаляются по просьбе того, кто его оставил.
            </p>

            <p>
                4.3.3. На один заказ возможен только один отрицательный отзыв.
            </p>

            <h4>4.4. Блокировка средств</h4>

            <p>
                4.4.1. Блокировка средств не является гарантийным сроком доработки работы. Автор обязан исправить замечания по работе и по истечению блокировки, если первоначальное задание не было изменено.
            </p>

            <hr />

            <h4>4.5 Вывод средств</h4>

            <p>
                4.5.1. Вывод средств можно осуществить на следующие платежные счета:<br />
                - Яндекс кошелек, комиссия Яндекс Денег составляет 0.5%, средства поступают на кошелек мгновенно. Минимальная сумма вывода 100 р.<br />
                - Рублевый (R) Webmoney кошелек, комиссия Webmoney составляет 2%, средства поступают на кошелек мгновенно. Минимальная сумма вывода 100 р.<br />
                - Qiwi кошелек, комиссия Qiwi составляет 2.5%, средства поступают на кошелек мгновенно. Минимальная сумма вывода 100 р.<br />
                - Банковские карты VISA/MasterCard, комиссия составляет 3% + 15 рублей, средства поступают на карту через 1 - 6 рабочих дней. Минимальная сумма вывода 100 р.<br />
            </p>

            <p>
                4.5.2. При открытой на пользователя претензии, выводы с его счета не осуществляются. Запросы на вывод будет обработаны в течение суток с момента закрытия претензии.
            </p>

            <p>
                4.5.3. Заявки на вывод средств обрабатываются в течение 24 часов. Возможно подключение автоматического вывода, стоимость которого 100 р. При технических проблемах могут появиться задержки, о которых пользователи будут оповещены на форуме.
            </p>

            <p>
                4.5.4. Запрещается использовать Сайт для обмена денежных средств различных платежных систем.
            </p>


            <hr />
            <h4>4.6. Штрафы сервиса</h4>

            <p>
                4.6.1. За передачу контактных данных с пользователя взимается штраф в размере 500 р. Если передача данных будет совершена повторно, пользователь будет оштрафован на 1000 р. При продолжении передачи контактных данных пользователь блокируется.
            </p>

            <p>
                4.6.2. За оскорбления пользователей или модераторов сайта и применение нецензурной лексики взимается штраф в размере 500 р.
            </p>

            <p>
                4.6.3. При несоблюдении правил проекта администрация оставляет за собой право блокировки пользователя без возможности восстановления.
            </p>

            <hr />
            <p>
                <strong>
                    Мы сильно не приветствуем штрафную систему, но куда деваться: люди разные попадаются. Желаем успехов и удачи в использовании нашего сервиса, надеемся, что с Вами и Вашими поправками сайт станет только лучше.
                    Всегда с Вами @Html.ActionLink("Команда GarageInc(c)", "Contact", "Home")
                </strong>
            </p>
        </div>
</div>