
@{
    ViewBag.Title = "Наши правила";
}
<br/>
✔ Решение задач по высшей математике (алгем/линал/интегралы/диффуры/теорвер и др.), физике, ПРОГРАММИРОВАНИЮ (C++/C#/Pascal/Basic/JS/PHP/Java/Fortran и др.языки) , сопромату, термеху, ТММ, гидравлике, экономике и др. предметам

<br />
✔ Лабы, планы,блок-схемы, проекты, эссе, сочинения, рефераты, КУРСОВЫЕ по ЛЮБЫМ предметам!

<br />
✔ ОНЛАЙН-ПОМОЩЬ на контрольных-самостоятельных-экзаменах-зачетах.

<br />
Для заказа/совета/вопроса - пиши.
<br />
Лучшие фрилансеры Казани!
<br />
ИНДИВИДУАЛЬНЫЙ ПОДХОД! Абсолютно анонимно.
<br />


<br />
✔ Оценка - совершенно бесплатно и ни к чему Вас не обязывает. Просто присылайте нам тех.задание, со всеми условиям:
<br />
1) срок,
<br />
2) реальная цена, на которую ориентируетесь (да, цену предлагаете Вы, на то мы и фрилансеры), ведь решаем, бывает, бесплатно.
<br />
3) предмет-тему и всё по факту задания.
<br />
✔ К каждому клиенту И к каждому заданию - ИНДИВИДУАЛЬНЫЙ подход!
<br />
✔ Советы по решению задач, направления по решению - конечно, бесплатно.
<br />
Лучшие преподаватели и самые умные студенты! Если ты гений - регистрируйся и становись фрилансером!


<div class="alert alert-success" >
    Насчет оплаты и решений. Пожалуйста, ПРОЧИТАЙТЕ!
    <br />
    1. 
    Мы в первую очередь решаем тем клиентам, которые оплатили ДО отправки задания. Или которые уже не в первый раз обращаются и гарантированно перечислят оплату.
    <br />

    2.
    Если Вы НЕ оплатили, но мы договорились, что будем решать с оплатой ПОСЛЕ - в этом кроется маленький подвох. Какой же? Мы имеем право отказаться от работы/уйти/прервать процесс решений по какой-либо причине.
    К сожалению, весьма распространенная практика, когда мы либо уходим, либо переключаемся на того клиента, который первым прислал нам задание. С оплатой ДО - такого не происходит. В ином случае 110% от заплаченной суммы возвращается.

    <br />
    3. Вы заплатили, но пары не было/заболел преподаватель/случился Апокалипсис - оплату мы возвращаем. Советуем сразу присылать номер Вашей карты-кошелька.

    <br />
    4.
    Перед тем, как делать переводы - пишите сумму перевода и последний номер Вашей карты. Или в ЛС, или на 8-965-591-81-15

    <br />
    5.
    Все эти правила распространяются и на домашние-оффлайн решения.
    Успехов на контрольных-зачетах
    ___
    Такой вот маленький наш беспредел.
    Мир Вам!
</div>


